---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include header.html %}


<body data-theme="{{ site.mode }}" class="notransition">
  <script>
    const body = document.body;
    const data = body.getAttribute("data-theme");

    const initTheme = (state) => {
      if (state === "dark") {
        body.setAttribute("data-theme", "dark");
      } else if (state === "light") {
        body.removeAttribute("data-theme");
      } else {
        localStorage.setItem("theme", data);
      }
    };
 
    initTheme(localStorage.getItem("theme"));
    
    setTimeout(() => body.classList.remove("notransition"), 75);
  </script>


  <div style="width:100%; height: 60px; margin-top: 24px; ">
    <span style="margin-left: 24px;">
      <a href="/"><i class="fas fa-chevron-left"></i></a>
    </span>
  </div>
  <div class="wrapper" style="margin-top: 6.3rem">
      <div style="text-align: center;">
        <img
          style="border-radius: 100%;"
          class="author-avatar"
          src="/assets/img/bbukkuk.jpg"
          alt="Kim Bbu Kkuk"
        />
        <h2 class="author-name">Kim ppeokkug</h2>
        <p class="author-bio">&#128049; 뚱냥이 &#128049;</p>   
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
